.tests {
  display: flex;
  margin: 2rem;
}

.tests-container {
  text-align: center;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  margin: auto;
  max-height: 90%;
}

.tests-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tests-container li {
  font: 200 1.3rem Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

.tests-container li:last-child {
  border: none;
}

.tests-container a {
  text-decoration: none;
  padding: 1rem 0;
  display: block;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.tests-container li a:hover {
  font-size: 2rem;
  background: purple;
  color: white
}

